main {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  #callToAction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:right;

  }

  @media (max-width: 500px) {
    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
    #whyUs {
      display: none;
    }
  }  