html {
    --primary-color: rgb(211, 151, 13);
    --primary-color-hover: rgba(204, 191, 177, 0.592);
  
    --secondary-color: #11139b;
    --tertiary-color: rgb(71, 58, 15);
    --quaternary-color: #dadc89;
    --quinary-color: #c6af74f1;
    --radius: 8px;
  }
  * {
    font-family: "Croissant One", cursive;
    font-size: 18px;
  }
  h1,
  h2,
  h3 {
    font-family: "Handlee", cursive;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }
  /* Link Styles */
  a {
    font-size: 30px;
  }
  a:link {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
  }
  a:visited {
    color: var(--tertiary-color);
  }
  a:hover,
  a:focus {
    text-decoration: underline;
  }
  a:active {
    font-size: 32px;
  }
  /* button styles */
  button {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 10px;
    width: 120px;
    font-weight: 700;
    border-radius: var(--radius);
    border: 2px solid var(--tertiary-color);
  }
  button:hover,
  button:focus {
    background-color: var(--primary-color-hover);
  }
  button:active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  /* utility classes */
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-column {
    flex-direction: column;
  }
  header {
    display: flex;
    align-items:center;
    justify-items: auto;
    justify-content:center;
    align-content: space-between;
    position:fixed;
    top: 5px;
    width: 100vw;
    height: 60px;
    background-color: var(--primary-color);
  }
  #logo {
    width: 50px;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav li {
    display: inline;
    margin: 50px;
  }
  
  main {
    padding-top: 100px;
    padding-bottom: 80px;
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--quaternary-color);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #copyright {
    margin: 20px;
    font-size: 20px;
  }
  .mobileFeature {
    display: none;
  }
  
  @media (max-width: 500px) {
    li {
      display: inline;
      margin: 20px;
    }
    .mobileFeature {
      display: flex;
    }
    .disappearing {
      display: none;
    }
  }
  