#eligibility-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f0ca58;
}



#signUpButton{
    background-color: #f4870a;
    color: #5b4913;
    font-weight: bold;
}
.mdc-text-field__input {
    color: #302504;
}
#addiction {
    display: flex;
    align-items:center;
    justify-content: center;
    width: 300px;
    color: #5b4913;  
}