nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li {
    display: inline;
    margin: 50px;
}

a {
    font-size: 20px;
}
a:link {
    color: var(--secondary-color);
    text-decoration: none;
    position: relative;
}a:visited {
    color: var(--tertiary-color);
}
a:hover,
a:focus {
    text-decoration: underline;
}
a:active {
    font-size: 30px;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #6200ee;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#copyright {
    color:#fff;color:var(--mdc-theme-surface, #fff);
}