* {
	font-family: "Croissant One", cursive;
	font-size: 18px;
}

.main-container {
  margin: 0 auto;
  padding: 24px;
  max-width: 900px;
}

.wager-input {
  width: 200px;
}

body {
	background-color: #dadc89;
}
header {
	background-color : rgb(211, 151, 13) ;
	font-family: "Croissant One", cursive;
	font-size: 40px;
}

header .mdc-button__label{
	color: black;
	font-family: "Croissant One", cursive;
	font-size: 30px;
}

footer{
	background-color: rgb(211, 151, 13);
	justify-content: end;
}

#logo {
	width: 50px;
}

.mdc-button {
	color: black;
}

.mdc-button__label{
	font-family: "Croissant One", cursive;
	color: rgb(79, 50, 33);
	font-size: 20px;
}

#wager-label {
	font-family: "Croissant One", cursive;
}